
.container-fluid{ 
    padding: 2% 15%;
    text-align: center;
}



.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    font-size: 1.5rem;
}

.card {
    position: relative;
    padding-bottom: 5px;
    margin: 0 auto 50px; 
    float: none; 
    width: 70%;
    
}

.btn{
    color: grey;
}

