body{
    font-family: 'Montserrat';
}

.container-fluid{ 
    padding: 2% 15%;
    text-align: center;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    font-size: 1.5rem;
}

.backgroung-img{
    background-image: url("");

}

.card {
    margin: 0 auto 10px; 
    float: none; 
    width: 60%;
}

.register {
    font-weight: bold;
}

.gender{
    padding-left: 6%;
}